
/* CAJA UNO */ 
.contenedor-web {
    max-width: 1200px;
    margin: auto;
}
header {
    max-width: 1200px;
}
.box-one {
    display: flex;
    background-color: rgb(68, 67, 67);
    justify-content: space-between;
    height: 50px;
    padding: 20px;
    border: 20px solid black;
    max-width: 1140px;
}

.one-one {
    background-color: brown;
    flex-basis: 100px;
    flex-grow: 2;
    margin: 10px;

}

.one-two {
    background-color: brown;
    flex-basis: 400px;
    flex-grow: 4;
    margin: 10px;
}

.one-three {
    background-color: brown;
    flex-basis: 100px;
    flex-grow: 2;
    margin: 10px;
}

/*CAJA DOS */

.box-two {
    border: 20px solid black;
    background-color: orangered;
    padding: 20px;
    display: flex;
    justify-content: center;
    max-width: 1140px;
}

.box-two div {
    background-color: yellow;
    width: 100%;
    height: 25px;
    padding: auto;
    margin: 10px;
}

/* CONTENEDOR */ 
.contenedor {
    margin-bottom: 50px;
    overflow: hidden;
    display: flex;
    max-width: 1200px;
    
    
}

article {
    float: left;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-content: space-around;
    width: 800px;
    background-color: rgb(52, 52, 100);
    height: 300px;
    padding: 10px 0;
    margin-top: 50px;
    border: 20px solid black;
    

}

.div-uno {
    flex-basis: 40%;
    background-color: rgb(26, 26, 155);
    height: 40px;
    margin: 10px;
    flex-grow: 1;
}

.div-dos {
    flex-basis: 40%;
    background-color: rgb(26, 26, 155);
    height: 40px;
    margin: 10px;
    flex-grow: 1;
}

.div-tres {
    flex-basis: 40%;
    background-color: rgb(26, 26, 155);
    height: 40px;
    margin: 10px;
    flex-grow: 1;
}

.div-cuatro {
    flex-basis: 40%;
    background-color: rgb(26, 26, 155);
    height: 40px;
    margin: 10px;
    flex-grow: 1;
}

.div-cinco {
    background-color: aqua;
    flex-basis: 97%;
    align-self: flex-end;
    height: 40px;
    
}

/* ASIDE */

aside {
    
    border: 20px solid black;
    display: flex;
    background-color: salmon;
    width: 400px;
    height: 300px;
    flex-wrap: wrap;
    align-content: flex-start ;
    justify-content: center;
    padding: 10px 0;
    margin-top: 50px;
}

aside div {
    background-color: rgb(173, 173, 50);
    height: 25px;
    width: 90%;
    margin: 10px;
    
}

footer {
    background-color: darkgoldenrod;
    height: 25px;
    border: 20px solid black;
    position: static;
    top: 500px;
    float: hidden;
    
    
   
   
}

footer {
    max-width: 1160px;
}


/* EXERCICI 2 MEDIA QUERY TABLET */ 

@media (max-width: 768px) { 
    
    .contenedor {
        margin-bottom: 50px;
        overflow: hidden;
        display: flex;
        flex-wrap: wrap;
        
        
    }
    aside {
        float: none;
        margin-top: 0;
        width: 100%;
        height: auto;
        padding: 2%;
        
    }

    article {
        padding: 2%;
        width: 100%;
    }

    
    
    
}

/* EXERCICI 3 MEDIA QUARY PHONE */ 

@media (max-width: 600px) {

    /* CAJA UNO */ 
.box-one {
    display: flex;
    background-color: rgb(68, 67, 67);
    justify-content: space-between;
    flex-flow: row wrap;
    height: 150px;
    padding: 4%;
    border: 20px solid black;
}

.one-one {
    background-color: brown;
    flex-basis: 80%;
    margin: 4%;
    height: 15%;

}

.one-two {
    background-color: brown;
    flex-basis: 80%;
    margin: 4%;
    height: 15%;
}

.one-three {
    background-color: brown;
    height: 15%;
    flex-basis: 80%;
    margin: 4%;
}

    article {
        padding: 4% 2%;
    }

    aside {
        
        height: auto;
    }

    .div-uno {
        flex-basis: 80%;
        background-color: rgb(26, 26, 155);
        height: 10%;
        margin: 4%;
        flex-grow: 1;
    }
    
    .div-dos {
        flex-basis: 80%;
        background-color: rgb(26, 26, 155);
        height: 10%;
        margin: 4%;
        flex-grow: 1;
    }
    
    .div-tres {
        flex-basis: 80%;
        background-color: rgb(26, 26, 155);
        height: 10%;
        margin: 4%;
        flex-grow: 1;
    }
    
    .div-cuatro {
        flex-basis: 80%;
        background-color: rgb(26, 26, 155);
        height: 10%;
        margin: 4%;
        flex-grow: 1;
    }
    
    .div-cinco {
        background-color: aqua;
        flex-basis: 97%;
        align-self: flex-end;
        height: 10%;
        margin: 4%;
        
    }

}